{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    </head>
    <body>

    <h1>Dgroup Tree</h1>
    <img src="{% static 'dgroup/images/cats/cat1.png' %}"></img>

    <div id="myDiagramDiv"></div>

    <script>
        const myDiagram = new go.Diagram("myDiagramDiv",
  {
    "undoManager.isEnabled": true,
    layout: new go.TreeLayout({ angle: 90, layerSpacing: 35 })
  });

myDiagram.nodeTemplate =
  new go.Node("Horizontal",
      { background: "#44CCFF" })
    .add(
      new go.Picture({ margin: 10, width: 50, height: 50, background: "red" })
        .bind("source"),
      new go.TextBlock("Default Text",
          { margin: 12, stroke: "white", font: "bold 16px sans-serif" })
        .bind("text", "name")
    );

// define a Link template that routes orthogonally, with no arrowhead
myDiagram.linkTemplate =
  new go.Link(
      // default routing is go.Routing.Normal
      // default corner is 0
      { routing: go.Routing.Orthogonal, corner: 5 })
    .add(
      // the link path, a Shape
      new go.Shape({ strokeWidth: 3, stroke: "#555" }),
      // if we wanted an arrowhead we would also add another Shape with toArrow defined:
      //new go.Shape({  toArrow: "Standard", stroke: null  })
    );

  const cat1 = "{% static 'dgroup/images/cats/cat1.png' %}";
  const cat2 = "{% static 'dgroup/images/cats/cat2.png' %}";
  const cat3 = "{% static 'dgroup/images/cats/cat3.png' %}";
  const cat4 = "{% static 'dgroup/images/cats/cat4.png' %}";
  const cat5 = "{% static 'dgroup/images/cats/cat5.png' %}";
  const cat6 = "{% static 'dgroup/images/cats/cat6.png' %}";

// it's best to declare all templates before assigning the model
myDiagram.model = new go.TreeModel(
  [
    { key: "1",              name: "Don Meow",   source: cat1 },
    { key: "2", parent: "1", name: "Demeter",    source: cat2 },
    { key: "3", parent: "1", name: "Copricat",   source: cat3 },
    { key: "4", parent: "3", name: "Jellylorum", source: cat4 },
    { key: "5", parent: "3", name: "Alonzo",     source: cat5 },
    { key: "6", parent: "2", name: "Munkustrap", source: cat6 }
  ]);

    </script>
    </body>
</html>